.write{
  padding-top: 30px;
}
.writeForm{
  position: relative;
}

.writeFormGroup{
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeIcon{
   display: flex;
   width: 30px;
   height: 30px;
   border: 1px solid;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 20px;
   color: rgb(172, 170, 170);
}
.writeInput{
  font-size: 30px;
  border: none;
  width: 70vw;
  padding: 20px;
}
.writeInput:focus{
  outline: none;
}
.writeText{
  font-size: 20px;
  height: 100vh;
}
.writeSubmit{
  top: 20px;
  right: 50px;
  color: #fff;
  background-color: teal;
  position: absolute;
  border:none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.writeImg{
  width: 70vw;
  height: 250px;
  margin-left: 150px;
  object-fit: cover;
  border-radius: 10px;
}